
.nav {
    width: 100%;
    display: flex;
    background-color:rgba(128, 128, 128, 0.493);
    justify-content: space-evenly;
    list-style-type: none;
    padding: 20px;
    overflow:hidden;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

li {
    display:flex;
    font-size: x-large;
}

body {
    background-color: rgb(51, 163, 175, .93);
}

.carousel {
    margin: 100px;
    border-radius: 50%;
    padding: 1rem;
    background: #fff;
    box-shadow: #eee;
    border-radius: 8px;
    max-width:800px;
    display: flex;
    background: linear-gradient(to right, white 25%, rgba(255, 255, 255, .1) 100%);
}

.carousel_images_container {
    display: flex;
    gap: 40px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.fade_left {
    min-width:90px;
    height: auto;
    background-color:rgba(128, 128, 128, 0.493);
    position: sticky;
    left: 0;
    background: linear-gradient(to left,  rgba(128, 128, 128, 0%) 0%,rgb(6, 27, 56, 1.0) 90%);
}

.fade_right {
    min-width:120px;
    height: auto;
    background-color:rgba(128, 128, 128, 0.493);
    position: sticky;
    right: 0;
    background: linear-gradient(to right,  rgba(128, 128, 128, 0) 0%,rgb(6, 27, 56, 1.0) 90%)
}

.carousel_images_container img {
    height: 100%;
    width: 500px;
    object-fit: cover;
    scroll-snap-align: center;
}

figure {
    display:flex;
    justify-content: space-between;
    margin: 150px 30px;
}

.shrimpbox p{
    position: absolute;
    color: rgba(150, 213, 186, 0.815);
    font-size: xx-large;
}

.shrimpbox {
    display: flex;
    box-sizing: border-box;
    position: relative;
    justify-content: center;
}

.yup, .beetlejuice, .shrimpfingers {
    width: 80%;
    height: 300px;
    border-radius: 30px;
    border: 10px solid  rgba(128, 128, 128, 0.493);
    object-fit: fill;
}

.sandworm_box {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.sandworm_box img {
    object-fit:fill;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.sandworm_box figure {
    border-radius: 50%;
    height: 275px;
    width: 275px;
    border: 5px solid black;
    overflow: hidden;
    margin: 50px; 
    box-shadow: 3px 3px 10px 10px rgba(6, 40, 68, 1.0);
}

footer {
    display: flex;
    justify-content: space-evenly;
    border: 10px solid  rgba(128, 128, 128, 0.493);
    align-items: center;
    margin-left: 0;
    margin-right: 0;
}

footer > p a {
    border: 5px solid black;
}