html {
    height: 100%;
    ////border: orange solid;
    background: linear-gradient(to bottom, white 0%, rgba(11, 108, 164, .2) 50%, rgb(100, 106, 109, .9) 100%);
}

body {
    border:green solid;
    min-height: 50%;
    margin:0;
    padding:0;
    background-color: rgba(11, 108, 164, .1);
    
    
}

* {
    padding:0;
    margin: 0;
}

a {
    text-decoration:none;
    color: inherit;

}
a:visited {
    color:inherit;
}


nav {
    display: flex;
    justify-content: space-between;
    align-content:center;
    z-index: 100;
    ////border: solid;
    overflow: hidden;
    background-color: rgba(inherit, 0.5);
    color: #279050;
    height: fit-content;
    position: sticky;
    top: 20px;
}

.zeb {
    display: flex;
    ////border: solid;
    align-items:center;
    padding-top: 0;
    padding-bottom: 0;
    width:20%;
    justify-content: center;
    box-sizing:content-box;
    font-size: x-large;
    text-decoration-style: none;
    text-shadow: 1px 1px 1px #279050;
    
}

.nav_list {
    list-style: none;
    display: flex;
    ////border: solid;
    justify-content: space-evenly;
    margin-left: 0;
    padding-left: 0;
    width: 60%;
    font-size: large;
    align-content: center;
    height:fit-content;

}

li {
    ////border: solid;
    margin: 5px;
}

#intro_section_box {
    display: flex;
    border:red solid;
    justify-content: space-between;
    margin-top: 40px;
    align-items: stretch;
}

.intro_quote_box {
    font-size: 4rem;
    width: 50%;
    height: 100;
    display: flex;
    border: solid;
    align-items: center;
    margin: 0; 
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    color: #279050;
}


#intro_pic_box{
    width: 50%;
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25%;
    border: solid;
    box-sizing: border-box;
}

#intro_pic_box img {
    height: 100%;
    width: 100%;
    margin: 0;
    border-radius: 25%;
    padding: 5%;
    box-sizing: border-box;
    border: solid;
}

#email {
    color: #279050;
    font-size: 15px; 
    line-height: 15px; 
    padding: 15px; 
    border-radius: 17px; 
    font-family: Georgia, serif; 
    font-weight: normal; 
    text-decoration: none; 
    font-style: normal; 
    font-variant: normal; 
    text-transform: none; 
    background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); 
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; border: 2px solid rgb(28, 110, 164); 
    display: inline-block;
    border: solid;
}
#email:hover {
    background: #1C6EA4; 
}
#email:active {
    background: #144E75; 
}

    







